In [1]:
#RENAMING
#It is done using mapping
#Rename cols
import pandas as pd
 
#df = pd.read_csv('my_arr.txt', delim_whitespace=True, index_col=0)
df = pd.read_csv('data.csv', index_col = 0)

In [ ]:
#RENAMING COLS
df.rename(columns= {"Duration" : 'Time'} ,inplace= True)
df

In [ ]:
#RENAMMING INDEX 
df.rename(index={1:"first",2:'second'})
#Styling using axis
df.rename({'first': 1, "second": 2}, axis='index')

In [ ]:
# df_grouped = df.groupby('Time')['Calories'].mean() 
df =df.rename_axis(None, axis='rows').rename_axis("fields", axis='columns')
df

In [62]:
# merge() is best for SQL-style joins based on column values.
df = pd.DataFrame({"id":[1,2,3],"name":['nadia',"iqra","mahnoor"]} ,index = ['person1','person2','person3'])
df2 = pd.DataFrame({'id' :[1,3,4] , 'age':[26,20, 28]} ,index = ['person1','person2','person3'])
pd.merge(df,df2)

   id     name  age
0   1    nadia   26
1   3  mahnoor   20

In [61]:
# concat() is best for concatenating DataFrames along rows or columns.
df = pd.concat([df,df2] , axis = 1)
df.reset_index(drop = True)

   id     name  id  age
0   1    nadia   1   26
1   2     iqra   3   20
2   3  mahnoor   4   28

In [20]:
import pandas as pd
# join() is a more index-focused way to combine DataFrames, often used for joining on indices.
df = pd.DataFrame({"id":[1,2,3,8],"name":['nadia',"iqra","mahnoor",'Amna'] ,"per" : ['person1','person2','person3','Person4']}) 
df2 = pd.DataFrame({'id' :[1,3,4] , 'age':[26,20, 28]  ,"per" : ['person1','person2','person3']}) 

df.set_index("per").join(df2.set_index("per"), lsuffix="_l" ,rsuffix="_r") 

#set-index is used to change the idx

         id_l     name  id_r   age
per
person1     1    nadia   1.0  26.0
person2     2     iqra   3.0  20.0
person3     3  mahnoor   4.0  28.0
Person4     8     Amna   NaN   NaN